.project-header {
  position: relative;
  width: 100vw;
  height: 75svh;
  overflow: hidden;
}

.project-header .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
}

.project-header .project-header-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed var(--base-300);
  opacity: 0.25;
}

.project-header .project-meta {
  display: flex;
  gap: 2rem;
}

.project-header .project-meta-col,
.project-header .project-meta-sub-col {
  flex: 1;
}

.project-header .project-meta-col:nth-child(2) {
  display: flex;
  gap: 2rem;
}

.project-meta-col a,
.project-meta-col span {
  color: inherit;
  text-decoration: none;
}

.project-banner-img {
  margin: 2rem 0;
  width: 100%;


  & img {
    border-radius: 5px;
    height: auto;
    display: block;   
  }
}

.project-overview {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 2rem 0 6rem 0;
  overflow: hidden;
}

.project-overview .container {
  display: flex;
  gap: 2rem;
}

.project-overview .container .project-overview-col {
  flex: 1;
}

.project-overview .container .project-overview-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-overview
  .container
  .project-overview-col:nth-child(2)
  .project-overview-copy {
  width: 75%;
}

.project-snapshots {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--base-300);
  color: var(--base-100);
  overflow: hidden;
}

.project-snapshots-wrapper {
  position: relative;
  width: 500vw;
  height: 100svh;
  display: flex;
  overflow: hidden;
  transform: translateX(0%);
}

.project-snapshot {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-snapshot img {
  width: auto;
  height: 65%;

  object-fit: contain;
  border: 1px dashed var(--base-secondary-dark);
  border-radius: 8px;
}

.snapshots-progress-bar {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.progress-indicator {
  width: 1px;
  height: 50%;
  background-color: var(--base-secondary-dark);
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;

  border: 1px solid var(--base-100);
  background-color: var(--base-300);
  transform-origin: left;
  will-change: width;
}

.project-info {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 8rem 0 10rem 0;
  overflow: hidden;
}

.project-info .container {
  display: flex;
  gap: 2rem;
}

.project-info .container .project-info-col {
  flex: 1;
}

.project-info .container .project-info-col:nth-child(2) .project-info-copy {
  width: 75%;
}

.next-project {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--base-300);
  color: var(--base-100);
  overflow: hidden;
}

.next-project .container.next-project-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.next-project .next-project-header-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed var(--base-secondary-dark);
  opacity: 0.25;
}

.next-project .next-project-meta {
  display: flex;
  gap: 2rem;
}

.next-project .next-project-meta-col,
.next-project .next-project-meta-sub-col {
  flex: 1;
}

.next-project .next-project-meta-col:nth-child(2) {
  display: flex;
  gap: 2rem;
}

.home-spotlight-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home-spotlight-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home-spotlight-top-bar .container,
.home-spotlight-bottom-bar .container {
  display: flex;
  justify-content: space-between;
}


.next-project-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.next-project-link:hover {
  opacity: 1;
}

.next-project-meta-sub-col a {
  display: block;
  padding: 0.5rem 1.75rem;
  position: relative;
  text-decoration: none;
  color: var(--base-100);
  font-family: "Host Grotesk";
}

.next-project-meta-sub-col span {
    color: var(--base-100);
    font-size: 0.9rem;
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-family: "DM Mono";
    font-size: 0.85rem;
    font-weight: 500;

}



@media (max-width: 1000px) {
  .project-header .project-meta,
  .project-header .project-meta-col:nth-child(2),
  .next-project .next-project-meta,
  .next-project .next-project-meta-col:nth-child(2) {
    flex-direction: column;
  }

  /* .project-banner-img {
    aspect-ratio: 4/5;
  } */

  .project-snapshot img  {
    height: 30%;
  }

  .project-snapshots-wrapper {
    width: max-content;
  }

  .project-overview .container .project-overview-col:nth-child(1),
  .project-info .container .project-info-col:nth-child(1) {
    display: none;
  }

  .project-overview
    .container
    .project-overview-col:nth-child(2)
    .project-overview-copy,
  .project-info .container .project-info-col:nth-child(2) .project-info-copy {
    width: 100%;
  }

  .snapshots-progress-bar {
    bottom: 5rem;
    width: calc(100% - 4rem);
  }
}
