@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,600&display=swap');

.app__about{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--about-background);
    color: white;
    width: 100%;
    font-family: 'Gelasio', serif;
    position: relative;
    padding: var(--padding-main-containers);
}

.app__about h1{
    padding: 0px;
    margin-top: 0px;
}

.about-anchor-helper{
    position: absolute;
    top: calc(var(--offset-y)*-1);
}

.app_about-subcontainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 40px 0px 60px 0px;
}

.about-title{
    font-family: 'Gelasio', serif;
    width: 100%;
    text-align: center;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-line{
    background-color: green;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,#ffe62e 25%,#0f9046);
}

.section-title-container{
    padding: 5px 30px;
    border: 3px solid white;
}

.personal-data-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 30px;
    column-gap: 60px;
    padding: 0px 20px; /*Padding diferente al del título*/
}

.technologies-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 1fr);
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.about-text{
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    line-height: 32px;
}

@media (max-width: 900px) {
    .about-title{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .about-anchor-helper{
        position: absolute;
        top: calc(var(--offset-y)*-1 - 25px);
    }

    .personal-data-container{
        column-gap: 60px;
        padding: 0px; /*Padding diferente al del título*/
    }

    .app__about{
        padding: var(--padding-main-containers-medium);
    }
}

@media (max-width: 600px) {
    .about-text{
        font-size: 1.6rem;
    }
}

@media (max-width: 520px) {
    .about-title{
        font-size: 35px;
    }
}

@media (max-width: 460px) {
    .about-text{
        font-size: 2.5rem;
    }

    .personal-data-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}