@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,600&display=swap');

.app__about{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--about-background);
    color: white;
    width: 100%;
    font-family: 'Gelasio', serif;
    position: relative;
}

.app__about h1{
    padding: 0px;
    margin-top: 0px;
}

.about-anchor-helper{
    position: absolute;
    top: calc(var(--offset-y)*-1);
}

.app_about-subcontainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 40px 80px;
    padding-bottom: 60px;
}

.about-title{
    border-bottom: 1px white solid;
    font-family: 'Gelasio', serif;
    width: 50%;
    text-align: center;
    font-size: 50px;
}

.personal-data-container{
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.technologies-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 1fr);
    width: 100%;
    gap: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.about-text{
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}