@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,600&display=swap');

.app__about{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--about-background);
    color: white;
    width: 100%;
    font-family: 'Gelasio', serif;
    position: relative;
}

.app__about h1{
    padding: 0px;
    margin-top: 0px;
}

.about-anchor-helper{
    position: absolute;
    top: calc(var(--offset-y)*-1);
}

.app_about-subcontainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 40px 60px;
    padding-bottom: 60px;
}

.about-title{
    border-bottom: 1px white solid;
    font-family: 'Gelasio', serif;
    width: 50%;
    text-align: center;
    font-size: 50px;
    text-align: center;
}

.personal-data-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 30px;
}

.technologies-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 1fr);
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.about-text{
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    line-height: 32px;
}

@media (max-width: 900px) {
    .about-title{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .about-text{
        font-size: 1.6rem;
    }

    .app_about-subcontainer{
        padding: 40px 30px;
    }
}

@media (max-width: 460px) {
    .about-text{
        font-size: 2.5rem;
    }

    .personal-data-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}