@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

.app__footer{
    width: 100%;
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 70px 30px;
    flex-wrap: wrap;
}

.svg-footer{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.contact-link{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}