@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@800&display=swap');

header{
    width: 100%; height: 72px;
    display: flex;
    position: fixed;
    /*Efecto que todo lo que esté por debajo esté borroso, se debe aplicar con una opacidad diferente a 1.*/
    /*backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);*/
    background-color: transparent;
    z-index: 10;
    transition: transform 350ms ease-in-out;
}

header a {
    text-decoration: none;
}

.app__header-subcontainer{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 70px 40px;
    justify-content: space-between;
    align-items: center;
    color: var(--home-color);
    position: relative;
    transition: all 350ms ease-in-out;
}

.app_header-logo{
    font-family: 'Noto Serif Devanagari', serif;
    font-size: 3.2rem;
    height: 100%;
    display: flex;
    align-items: center !important; justify-content: center !important;
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
    vertical-align: center !important;
}

.app__header-btns{
    font-family: 'Noto Serif Devanagari', serif;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.app__header-subcontainer .btn{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
}

.app__header-subcontainer .btn:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}


.app__header-subcontainer .btn.selected-link{
    color: var(--home-color);
}

/* Efecto de línea inferior */
.app__header-subcontainer .btn::before{
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0px;
    height: 1px;
    background-color: var(--home-color);
    transition: width 250ms ease-in-out;
}

.app__header-subcontainer .btn:hover::before,
.app__header-subcontainer .btn.selected-link::before{
    width: 100%;
}

/* ------------------------- */

.Home-btn,
.About-btn,
.Skills-btn{
    margin-right: 40px;
}

.app_header-btn-toggle{
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: none;
}

.app_header-btn-toggle .app_header-svg{
    position: absolute;
    width: 100%; 
    height: 100%;
}

.app_header-close {
    opacity: 0;
}

.show-svg{
    opacity: 1;
}

.hide-svg{
    opacity: 0;
}

.not-at-top{
    padding: 45px 40px;
}

.header-backgound{
    background-color: black;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 80px; /*Es la altura del Header cuando no está en el top.*/
    top: 0px;
    transition: transform 300ms ease-in-out;
    transform: translateY(-100%);
}

.not-at-top-header{
    transform: translateY(0%);
}

/*Nav section*/
nav{
    font-family: 'Noto Serif Devanagari', serif;
    position: absolute;
    font-size: 16px;
    display: none;
    flex: 1;
    align-items: center; justify-content: space-around;
    bottom: 90px; left: 0px;
    padding: 15px 20px;
    width: 100%;
    transform: translateY(-100%);
    box-sizing: border-box;
    background-color: transparent;
    z-index: -5;
    transition: transform 450ms ease-in-out;
}

.show-nav {
    transform: translateY(calc(100% + 80px));
}

.helper-nav{
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -20;
    opacity: 0;
}

.not-at-top-nav-helper{
    opacity: 1;
    transition: opacity 350ms ease-in-out 300ms;
}

.delay-background{
    transition: opacity 350ms ease-in-out;
}

/*----------------------*/

/*Animación botón Navbar*/
.app_header-btn-toggle{
    align-items: center;
}

.line-navbar{
    position: absolute;
    width: 100%;
    border: 1px white solid;
    transition: transform 300ms ease-in-out, opacity 250ms ease-in-out 300ms;
}

.return-animation{
    position: absolute;
    width: 100%;
    border: 1px white solid;
    transition: transform 300ms ease-in-out 250ms, opacity 250ms ease-in-out;
}

.upper-line-nav{
    top: var(--spans-top-bottom-offset);
}

.lower-line-nav{
    bottom: var(--spans-top-bottom-offset);
}

.upper-animate{
    transform:  translateY(10px) rotate(45deg);
}

.middle-animate{
    opacity: 0;
}

.lower-animate{
    transform: translateY(-10px) rotate(-45deg);
}

/*----------------------*/

@media (max-width: 920px) {

 }

@media (max-width: 800px) {
    .app_header-btn-toggle{
        display: flex;
    }
    
    nav{
        display: flex;
    }

    .app__header-btns{
        display: none;
    }
}

@media (max-width: 600px) {
    .app_header-logo{
        font-size: 4rem;
    }
}

@media (max-width: 520px) {
    .app_header-logo{
        font-size: 5.3rem;
    }
}

@media (max-width: 480px) {
    nav{
        font-size: 14px;
    }
}