.Home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(300px, 500px);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0px 100px;
}

.home-subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    padding-top: 80px; /*Valor que controla espacio por arriba de contenedor de presentación*/
    position: relative;
}

.svg-home{
    width: 100%;
    height: auto;
    left: 0px;
    margin-top: 50px;
}

/*

.border{
    position: absolute;
}

.border-bottom{
    bottom: 0px;
    right: 0px;
    width: 300px;
    height: 300px;
    border-bottom: var(--border-width) var(--border-color) solid;
    border-right: var(--border-width) var(--border-color) solid;
}

.border-bottom::before{
    content: '';
    position: absolute;
    bottom: calc(var(--border-width)*(-1));
    left: 0px;
    border-top: var(--border-width) var(--background) solid;
    border-right: var(--border-width) var(--border-color) solid;
}

.border-bottom::after{
    content: '';
    position: absolute;
    top: 0px;
    right: calc(var(--border-width)*(-1));
    border-top: var(--border-width) var(--background) solid;
    border-right: var(--border-width) var(--border-color) solid;
}

.border-top{
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    border-top: var(--border-width) var(--border-color) solid;
    border-left: var(--border-width) var(--border-color) solid;
}

.border-top::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: calc(var(--border-width)*(-1));
    border-top: var(--border-width) var(--border-color) solid;
    border-right: var(--border-width) var(--background) solid;
}

.border-top::after{
    content: '';
    position: absolute;
    top: calc(var(--border-width)*(-1));
    right: 0px;
    border-top: var(--border-width) var(--border-color) solid;
    border-right: var(--border-width) var(--background) solid;
}
*/

@media (max-width: 700px) {
    .home-subcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 100vh;
        padding: 0px 20px;
        padding-top: 50px;
        position: relative;
    }
}

/*

@media (max-width: 680px) {
    .border-bottom{
        border-bottom: var(--border-width-medium) var(--border-color) solid;
        border-right: var(--border-width-medium) var(--border-color) solid;
    }
    
    .border-bottom::before{
        bottom: calc(var(--border-width-medium)*(-1));
        border-top: var(--border-width-medium) var(--background) solid;
        border-right: var(--border-width-medium) var(--border-color) solid;
    }
    
    .border-bottom::after{
        right: calc(var(--border-width-medium)*(-1));
        border-top: var(--border-width-medium) var(--background) solid;
        border-right: var(--border-width-medium) var(--border-color) solid;
    }
    
    .border-top{
        border-top: var(--border-width-medium) var(--border-color) solid;
        border-left: var(--border-width-medium) var(--border-color) solid;
    }
    
    .border-top::before{
        left: calc(var(--border-width-medium)*(-1));
        border-top: var(--border-width-medium) var(--border-color) solid;
        border-right: var(--border-width-medium) var(--background) solid;
    }
    
    .border-top::after{
        top: calc(var(--border-width-medium)*(-1));
        border-top: var(--border-width-medium) var(--border-color) solid;
        border-right: var(--border-width-medium) var(--background) solid;
    }
}

@media (max-width: 480px) {
    .border-bottom{
        border-bottom: var(--border-width-small) var(--border-color) solid;
        border-right: var(--border-width-small) var(--border-color) solid;
    }
    
    .border-bottom::before{
        bottom: calc(var(--border-width-small)*(-1));
        border-top: var(--border-width-small) var(--background) solid;
        border-right: var(--border-width-small) var(--border-color) solid;
    }
    
    .border-bottom::after{
        right: calc(var(--border-width-small)*(-1));
        border-top: var(--border-width-small) var(--background) solid;
        border-right: var(--border-width-small) var(--border-color) solid;
    }
    
    .border-top{
        border-top: var(--border-width-small) var(--border-color) solid;
        border-left: var(--border-width-small) var(--border-color) solid;
    }
    
    .border-top::before{
        left: calc(var(--border-width-small)*(-1));
        border-top: var(--border-width-small) var(--border-color) solid;
        border-right: var(--border-width-small) var(--background) solid;
    }
    
    .border-top::after{
        top: calc(var(--border-width-small)*(-1));
        border-top: var(--border-width-small) var(--border-color) solid;
        border-right: var(--border-width-small) var(--background) solid;
    }
}
*/