.Home {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    grid-template-columns: minmax(400px, 1000px) minmax(400px, 500px);
    grid-template-rows: minmax(0px, max-content);
    column-gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0px 100px;
    padding-top: 70px;
}

.svg-home {
    width: 100%;
    height: auto;
    left: 0px;
    /*margin-top: 50px;*/
    align-self: center;
}

@media (max-width: 900px) {
    .Home {
        padding: 0px 20px;
        padding-top: 80px;
    }
}

@media (max-width: 850px) {
    .Home {
        grid-template-columns: minmax(300px, 1fr) minmax(330px, 500px);
    }
}

@media (max-width: 670px) {
    .Home {
        padding: 0px 10px;
        padding-top: 100px;
        grid-template-columns: minmax(300px, 1fr);
        grid-template-rows: minmax(200px, 440px) minmax(200px, max-content);
        row-gap: 0px;
    }
}