@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,600&display=swap');

.app_presentation{
    display: flex; 
    flex-flow: column;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 80px;
    color: var(--home-color);
    font-family: Lemon, serif;
}

.hi-card,
.name-card,
.lastname-card{
    opacity: 0;
    width: 100%;
}

.hi-card{
    display: flex;
    justify-content: center;
    transition: transform 800ms ease-in-out 0ms, opacity 350ms ease-in-out 0ms;
}

.name-card{
    display: flex;
    justify-content: center;
    transition: transform 800ms ease-in-out 800ms, opacity 350ms ease-in-out 900ms;
}

.lastname-card{
    display: flex;
    justify-content: center;
    transition: transform 800ms ease-in-out 800ms, opacity 350ms ease-in-out 1800ms;
}

.web-developer-card{
    text-align: center;
    transition: transform 400ms ease-in-out 1800ms, opacity 350ms ease-in-out 1800ms;
    opacity: 0;
    transform: translateY(100%);
    font-family: NexaLight;
}

.animation-web-developer{
    transform: translateY(0%);
    opacity: 1;
}

.animation-hi{
    transform: translateY(-20%);
    opacity: 1;
}

.animation-name{
    transform: translateY(-10%);
    opacity: 1;
}

.animation-lname{
    transform: translateY(0%);
    opacity: 1;
}

@media (max-width: 840px) {
    .app_presentation{
        font-size: 60px;
    }
}

@media (max-width: 640px) {
    .app_presentation{
        justify-content: space-between;
        padding: 30px 30px;
    }
}

@media (max-width: 570px) {
    .app_presentation{
        font-size: 50px;
    }
}

@media (max-width: 420px) {
    .app_presentation{
        font-size: 45px;
    }

    .app_presentation{
        padding: 30px 4px;
    }
}



/**/
@media only screen and (max-device-width: 1200px) {
    .app_presentation{
        font-size: 50px;
    }
}

@media only screen and (max-device-width: 570px) {
    .app_presentation{
        font-size: 50px;
    }
}

@media only screen and (max-device-width: 480px) {
    .app_presentation{
        font-size: 38px;
    }
}

@media only screen and (max-device-width: 480px) {
    .app_presentation{
        font-size: 50px;
    }
}


