@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,600&display=swap');

.app_presentation{
    display: flex; 
    flex-flow: column;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 80px;
    width: 1000px;
    color: var(--home-color);
    font-family: 'Gelasio', serif;
}

.hi-card,
.name-card,
.lastname-card{
    opacity: 0;
    width: 100%;
}

.hi-card{
    display: flex;
    transition: transform 800ms ease-in-out 0ms, opacity 350ms ease-in-out 0ms;
}

.name-card{
    display: flex;
    justify-content: center;
    transition: transform 800ms ease-in-out 800ms, opacity 350ms ease-in-out 900ms;
}

.lastname-card{
    display: flex;
    justify-content: flex-end;
    transition: transform 800ms ease-in-out 800ms, opacity 350ms ease-in-out 1800ms;
}

.web-developer-card{
    text-align: center;
    transition: transform 800ms ease-in-out 2000ms, opacity 350ms ease-in-out 2000ms;
    opacity: 0;
    transform: translateY(100%);
}

.animation-hi{
    transform: translateY(-20%);
    opacity: 1;
}

.animation-name{
    transform: translateY(-10%);
    opacity: 1;
}

.animation-lname{
    transform: translateY(0%);
    opacity: 1;
}

.circle{
    position: absolute;
    display: flex;
    border-radius: 50%;
    border: 2px var(--border-color) dotted;
    display: none;
}

.small-circle-bottom{
    bottom: 100px;
    left: 100px;
    height: var(--small_diameter);
    width: var(--small_diameter);

}

.medium-circle-bottom{
    bottom: -50px;
    left: 100px;
    height: var(--medium_diameter);
    width: var(--medium_diameter);

}

.large-circle-bottom{
    bottom: -30px;
    left: -50px;
    height: var(--large_diameter);
    width: var(--large_diameter);

}

.small-circle-top{
    top: 120px;
    right: 120px;
    height: var(--small_diameter);
    width: var(--small_diameter);

}

.medium-circle-top{
    top: 0px;
    right: 150px;
    height: var(--medium_diameter);
    width: var(--medium_diameter);

}

.large-circle-top{
    top: 20px;
    right: -30px;
    height: var(--large_diameter);
    width: var(--large_diameter);

}

@media (max-width: 840px) {
    .app_presentation{
        font-size: 70px;
    }
}

@media (max-width: 540px) {
    .app_presentation{
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    .app_presentation{
        font-size: 50px;
    }
}

@media (max-width: 420px) {
    .app_presentation{
        font-size: 40px;
    }
}