.app__project-subcontainer-reversed{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: minmax(400px, 900px) minmax(200px, 300px);
}

.project-img-container-reversed{
    position: relative;  
    width: 420px;
    height: 420px; 
    display: flex;
    /*Con FLEX END se asegura que el elemento no se desborde del grid*/
    justify-self: flex-end;
    z-index: 1;
    opacity: 0.7;
}

.project-card-decoration-reversed{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 10px;
}

@media (max-width: 1080px) {
    .app__project-subcontainer-reversed{
        grid-template-columns: minmax(200px, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    }

    .project-img-container-reversed{
        justify-self: center;
    }

    .project-img-container-reversed{
        grid-row: 1/2;
    }
}

@media (max-width: 540px){  
    .project-img-container-reversed{
        width: 100%;
        height: 100%;
    }
}