.app__projects{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: var(--padding-main-containers);
    position: relative;
}

.project-helper-header{
    position: absolute;
    top: calc(var(--offset-y)*-1);
}

.app__projects-subcontainer{
    width: 100%;
    padding: 0px 60px;
    padding-top: 30px;
    margin-top: 60px;
}

@media (max-width: 1200px) {
    .app__projects-subcontainer{
        width: 100%;
        padding: 0px 10px;
    }
}

@media (max-width: 800px) {
    .project-helper-header{
        position: absolute;
        top: calc(var(--offset-y)*-1 - 25px);
    }

    .app__projects{
        padding: var(--padding-main-containers-medium);
    }
}

@media (max-width: 520px) {
    .app__projects-subcontainer{
        padding: 0px 0px;
        margin-top: 20px;
    }
}