@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

.app__footer{
    width: 100%;
    background-color: #161b22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 100px 30px;
    flex-wrap: wrap;
    position: relative;
}

.svg-footer{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.svg-footer svg {
    fill: white;
}

.contact-link{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.credits{
    position: absolute;
    top: 20px;
    right: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 0px 10px;
}

.credits a {
    color: rgb(150, 153, 1);
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .app_header-logo{
    margin-right: 25px;
    margin-left: 25px;
}

footer .svg-footer{
    transition: transform 250ms ease-in-out;
}

footer a:hover .svg-footer{
    transform: rotate(360deg) scale(1.2);
}

@media (max-width: 520px) {
    .credits{
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .app__footer{
        justify-content: center;
    }
}