@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

.app__project-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    font-family: 'Open Sans', sans-serif;
}

.app__project-card a {
    text-decoration: none;
    color: white;
}

.project-img{
    width: 100%;
    height: auto;
    z-index: 10;
    border-radius: 10px;
}

.project-description{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex: 1;
    min-height: 380px;
    background-color: rgb(15, 15, 15);
    z-index: 2;
    color: white;
    padding: 30px 40px;
    text-align: justify;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid white;
    white-space: pre-line; /*Ayuda a que secuencias de escape como  \t o \n sea reconocida en strings*/
}

@media (max-width: 500px) {
    .project-description{
        padding: 30px 10px;
    }
}

.description-part{
    display: flex;
    flex-flow: column;
    flex: 1;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .description-part{
        font-size: 14px;
    }

    .tecnologies-project h3{
        font-size: 18px;
    }
}

.card-title{
    font-size: 20px;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: center;
    font-family: Poppins;
}

/*Sección de tecnologias*/
.tecnologies-project{
    display: flex;
    flex-flow: column;
    border-top: 2px solid white;
}

.tecnologies-list{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;

    --tech-size-card: 40px;
}

    

@media (min-width: 750px) {
    .tecnologies-list .img-tech{
        width: var(--tech-size-card);
        height: auto !important;
    }

    .tecnologies-list i {
        font-size: var(--tech-size-card);
    }

    .tecnologies-list .app__TechCard-text {
        font-size: 13px;
    }
}


/*/*Sección de Github y Preview*/

.preview-code-links-sm{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: max-content;
    position: absolute;
    right: 20px;
    top: -40px;
    padding: 10px 20px;
    background-color: rgb(15, 15, 15);
    border: 2px solid white;
    border-radius: 10px;
}

.preview-code-links{
    display: none;
    flex-flow: row;
    justify-content: flex-end;
    width: max-content;
    position: absolute;
    right: 20px;
    bottom: 30px;
    padding: 10px 20px;
    background-color: rgb(15, 15, 15);
    border: 2px solid white;
    border-radius: 10px;
}

.github-link{
    margin-right: 20px;
}


.svg-link{
    width: 30px;
    height: 30px;
    transition: transform 250ms ease-in-out;
}

.link-project{
    display: flex;
    flex-flow: row;
    align-items: center;
    cursor: pointer;
}

.link-project:hover > svg {
    transform: rotate(360deg) scale(1.2);
}
.preview-link{
    transition: transform 250ms ease-in-out;
}

 .preview-link:hover{
    transform: scale(1.1);
}

@media (max-width: 750px) {
    .preview-code-links{
        font-size: 14px;
    }

    .svg-link{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 700px) {
    .preview-code-links{
        display: none;
    }

    .preview-code-links-sm{
        display: flex;
    }

    .tecnologies-list{
        justify-content: center;
    }
    
}


@media (max-width: 1080px) {
    .app__project-card{
        margin-bottom: 120px;
    }
}

@media (max-width: 540px){
    .app__project-card{
        margin-bottom: 50px;
    }
}