.app__projects{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: var(--padding-main-containers);
    position: relative;
}

.project-helper-header{
    position: absolute;
    top: calc(var(--offset-y)*-1);
}

.app__projects-subcontainer{
    width: 100%;
    padding: 0px 60px;
    padding-top: 30px;
    margin-top: 60px;
}

.projects-note {
    font-size: clamp(1.3rem, 1.3611rem + 0.0741vw, 1.375rem);
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 100%;
    max-width: 1800px;
    text-align: justify;
    line-height: 32px;
    padding: 0px 130px;
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    .app__projects-subcontainer{
        width: 100%;
        padding: 0px 10px;
    }

    .projects-note {
        padding: 0px 30px;
    }
}

@media (max-width: 800px) {
    .project-helper-header{
        position: absolute;
        top: calc(var(--offset-y)*-1 - 45px);
    }

    .app__projects{
        padding: var(--padding-main-containers-medium);
    }
}

@media (max-width: 520px) {
    .app__projects-subcontainer{
        padding: 0px 0px;
        margin-top: 20px;
    }

    .projects-note {
        font-size: 16px;
        padding: 0px;
    }
}