.app__section-title{
    font-family: 'Gelasio', serif;
    width: 100%;
    text-align: center;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    padding: 20px 0px;
    margin-bottom: 50px;
    font-family: Poppins;
}

.color-line{
    width: 100vw;
    height: 2px;
    background: linear-gradient(90deg,#ffe62e 25%,#0f9046);
    background: white !important;
}

.color-line-left{
    position: absolute;
    top: 0px;
    left: 0px;
}

.color-line-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.section-title-container{
    padding: 5px 30px;
    font-size: 35px;
}

@media (max-width: 520px) {
    .app__section-title{
        font-size: 35px;
    }
}