.app__TechCard{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    --tech-size: 55px;
}

i{
    font-size: var(--tech-size);
    margin-bottom: 10px;
    justify-self: center;
}

.img-tech{
    width: var(--tech-size);
    margin-bottom: 10px;
}

.app__TechCard-text{
    font-size: 16px;
    text-align: center;
}

/*Estilos para tarjeta de projecto*/
.app__project-card .img-tech{
    height: 55px;
    width: 40px;
}

.app__project-card i{
    font-size: 55px;
    margin-bottom: 10px;
}

.app__project-card .app__TechCard{
    margin-right: 10px;
    margin-bottom: 10px;
}


@media (max-width: 750px) {
    .app__project-card .img-tech{
        height: 35px;
        width: 25px;
    }
    
    .app__project-card i{
        font-size: 35px;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    i{
        font-size: 60px;
    }

    .app__project-card .app__TechCard-text{
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    i{
        font-size: 56px;
    }
}