.app_header-btn-toggle{
    align-items: center;
}

.line-navbar{
    position: absolute;
    width: 100%;
    border: 1px white solid;
    /*La línea media debe esperar a aparecer hasta que demás líneas regresen a su posición original.*/
    transition: transform 300ms ease-in-out, opacity 250ms ease-in-out 300ms;
}

.return-animation{
    /*Clase que anima transición a X*/
    position: absolute;
    width: 100%;
    border: 1px white solid;
    /*Se debe esperar a que la línea media desaparezca antes de mover demás líneas.*/
    transition: transform 300ms ease-in-out 250ms, opacity 250ms ease-in-out;
}

.upper-line-nav{
    top: var(--spans-top-bottom-offset);
}

.lower-line-nav{
    bottom: var(--spans-top-bottom-offset);
}

.upper-animate{
    transform:  translateY(10px) rotate(45deg);
}

.middle-animate{
    opacity: 0;
}

.lower-animate{
    transform: translateY(-10px) rotate(-45deg);
}
