:root {
    color-scheme: light only;
}

* {
    font-family: 'cooper' !important;
    font-weight: 100;
    background: #232323 !important;
}

.App{
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    overflow: hidden; /*Esto previene que el Header se desborde*/
}

@font-face {
    font-family: cooper;
    src: url('./assets/Fonts/cooperli.ttf');
    font-weight: 700;
}
