:root{
  --offset-y: 80px; /*Se usa para dar offset a spans en About y Project para navegación*/

  --border-width: 20px;
  --border-color: #edc822;
  --border-width-medium: 16px;
  --border-width-small: 13px;

  --home-color: white;
  --background: #0d1117;

  --spans-top-bottom-offset: 9px; /*Se usa para separar líneas de ToggleButton*/
  --padding-main-containers: 0px 40px;
  --padding-main-containers-medium: 0px 20px;
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: var(--background);
  -webkit-tap-highlight-color:transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}


@media (max-width: 970px) {
    html{
      font-size: 14px;
    }
}

@media (max-width: 600px) {
  html{
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  html{
    font-size: 7px;
  }
}